div.gtmDataLayerPropertyEditor {
    width: 68%;
}

div.gtmDataLayerPropertyEditor > div {
    padding: 0.2em 0.5em;
    line-height: 2.2em;
}

div.gtmDatalayerPropertyHeader {
    background-color: #f8f8f8;
    font-weight: bold;
    margin-bottom: 0.5em;
}

div.gtmDatalayerPropertyData {
    
}