@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>@Html.PageTitle(Model.Content)</title>
    @Html.VersionedCssUrl("/public/css/main.css")
</head>
<body>

@RenderBody()
@* JS files *@
@Html.VersionedJsUrl("/public/js/main.js")

</body>
</html>